*                soft    nofile          {{ limit_nofile_soft | default(4096) }}
# Absolute hard limit when cgroup,proclimit disabled.
# Prevents runaway forkbombs. Refers to threads NOT processes
# See also ps -efL | wc -l
*                hard    nproc           {{ limit_nproc | default(2048) }}
*                soft    fsize           {{ limit_fsize_soft | default(4194304) }}
*                soft    priority        {{ limit_priority_soft | default(19) }}
*                soft    maxlogins       {{ limit_maxlogins_soft | default(20) }}
*                hard    maxlogins       {{ limit_maxlogins | default(50) }}
*                soft    as              {{ limit_as_soft | default("unlimited") }}
