#
# Postfix master process configuration file.  For details on the format
# of the file, see the master(5) manual page (command: "man 5 master" or
# on-line: http://www.postfix.org/master.5.html).
#
# Do not forget to execute "postfix reload" after editing this file.
#
# ==========================================================================
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (no)    (never) (100)
# ==========================================================================
{{ postfix_smtp_port }}      inet  n       -       n       -       1       postscreen
        -o smtpd_sasl_auth_enable=yes
smtpd     pass  -       -       n       -       -       smtpd
        -o smtpd_sasl_auth_enable=yes
        -o smtpd_upstream_proxy_protocol=
{{ postfix_submission_port }}   inet    n       -       n       -       -       smtpd
        -o milter_macro_daemon_name=ORIGINATING
        -o cleanup_service_name=hidesender
        -o smtpd_tls_security_level=may
        -o smtpd_sasl_auth_enable=yes
        -o sender_canonical_maps=
{{ postfix_smtps_port }}        inet    n       -       n       -       -       smtpd
        -o cleanup_service_name=hidesender
        -o milter_macro_daemon_name=ORIGINATING
        -o smtpd_enforce_tls=yes
        -o smtpd_tls_wrappermode=yes
        -o smtpd_sasl_auth_enable=yes
        -o sender_canonical_maps=
pickup    unix  n       -       n       60      1       pickup
cleanup   unix  n       -       n       -       0       cleanup
qmgr      unix  n       -       n       300     1       qmgr
tlsmgr    unix  -       -       n       1000?   1       tlsmgr
rewrite   unix  -       -       n       -       -       trivial-rewrite
bounce    unix  -       -       n       -       0       bounce
defer     unix  -       -       n       -       0       bounce
trace     unix  -       -       n       -       0       bounce
verify    unix  -       -       n       -       1       verify
flush     unix  n       -       n       1000?   0       flush
proxymap  unix  -       -       n       -       -       proxymap
proxywrite unix -       -       n       -       1       proxymap
smtp      unix  -       -       n       -       -       smtp
relay     unix  -       -       n       -       -       smtp
        -o fallback_relay= -o smtp_helo_timeout=5 -o smtp_connect_timeout=5
relaylim  unix  -       -       n       -       1       smtp
        -o fallback_relay= -o default_destination_concurrency_limit=1
        -o smtp_helo_timeout=5 -o smtp_connect_timeout=5
oneshot   unix  -       -       n       -       -       smtp
        -o fallback_relay=[{{ has_ipv4 | ternary('127.0.0.1','[::1]') }}]:10029
{{ has_ipv4 | ternary('127.0.0.1','[::1]') }}:10029 inet n  -       n       -       -       smtpd
        -o fallback_relay= -o smtpd_client_restrictions=reject
showq     unix  n       -       n       -       -       showq
error     unix  -       -       n       -       -       error
retry     unix  -       -       n       -       -       error
discard   unix  -       -       n       -       -       discard
local     unix  -       n       n       -       -       local
virtual   unix  -       n       n       -       -       virtual
lmtp      unix  -       -       n       -       -       lmtp
anvil     unix  -       -       n       -       1       anvil
scache    unix  -       -       n       -       1       scache
dnsblog   unix  -       -       n       -      0        dnsblog
tlsproxy  unix  -       -       n       -       0       tlsproxy
hidesender unix n       -       -       -       0       cleanup
        -o header_checks=regexp:/etc/postfix/hide_header_checks
#
# ====================================================================
# Interfaces to non-Postfix software. Be sure to examine the manual
# pages of the non-Postfix software to find out what options it wants.
#
# Many of the following services use the Postfix pipe(8) delivery
# agent.  See the pipe(8) man page for information about ${recipient}
# and other message envelope options.
# ====================================================================
#
# maildrop. See the Postfix MAILDROP_README file for details.
# Also specify in main.cf: maildrop_destination_recipient_limit=1
#
vmaildrop  unix  -       n       n       -       20       pipe
        flags=XODRhu user=mail argv=/usr/bin/maildrop
        -d ${user}@${nexthop} ${extension} ${recipient} ${user} ${nexthop} ${sender}
localmaildrop  unix  -       n       n       -       20       pipe
        flags=XODRhu user=mail argv=/usr/bin/maildrop
        {% if not mail_enabled -%} -x {% endif -%} -d ${user} ${extension} ${recipient} ${user} ${nexthop} ${sender}

#
# /etc/postfix/master.d overrides
# See https://docs.apiscp.com/admin/Customizing#postfix
#
{% for site in '/etc/postfix/master.d/*.cf' | fileglob %}
{{ lookup('file', site) }}
{% endfor %}

#
# postfix_custom_master_config variable
# See https://docs.apiscp.com/admin/Customizing#postfix
#
{{ postfix_custom_master_config }}
