# MariaDB {{ mariadb_version | default(mariadb.default) }} CentOS repository list
# http://downloads.mariadb.org/mariadb/repositories/
[mariadb]
name = MariaDB
baseurl = http://yum.mariadb.org/{{mariadb_version | default(mariadb.default) | regex_replace('^(\\d+)\\.(\\d+)\\..+$', '\\1.\\2')}}/rhel{{ansible_distribution_major_version|int }}-amd64
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
gpgcheck=1
